.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: width 5s ease;
    overflow: hidden; 
    padding: 1rem 0.5rem;
}


/* dynamic sliding styles: */
.sidenav {
    width: 16rem;
    height: 100%;
    transition: width var(--slideSpeed) ease;
}
.minimizedSidenav {
    width: 0;
    height: 100%;
    transition: width var(--slideSpeed) ease;
}
.sidenav * {
    transition: padding var(--slideSpeed) ease;
}
.minimizedSidenav * {
    padding: 0;
    transition: padding var(--slideSpeed) ease;
}
.pseudoSidenav {
    position: absolute;
    top: 50%;
    left: 16rem;
    transform: translateY(-50%);
    z-index: 100;
    width: 0;
    transition: left var(--slideSpeed) ease;
}
.minimizedPseudoSidenav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 100;
    width: 0;
    transition: left var(--slideSpeed) ease;
}




/* normal styles: */
.link {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.375rem;
    background-color: var(--grey500);
    padding-left: 1rem; 
    height: 10rem;
}
.logo {
    color: white; 
}
.navContainer {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
}
.placeholder {
    display: block;
    height: auto;
    width: 100%;
    flex-grow: 1;
    border-radius: 0.375rem;
    background-color: #F3F4F6;
}