.pseudoHoverContainer{
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    flex-direction: row;

    /* force it to be same size as button container */
    width: calc( 0.25rem + 1rem); 
    height: calc(2 * 0.75rem + 2rem);
}

.buttonContainer {
    display: flex;
    padding: 1rem 0.5rem;
}
.buttonContainer:hover {
    cursor: pointer;
}


/* general arrow design */
.minToMaxButton,
.maxToMinButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.minToMaxButton .one,
.maxToMinButton .one,
.minToMaxButton .two,
.maxToMinButton .two {
    border-radius: 0.125rem;
    width: 0.25rem;
    height: 0.75rem;
}



/* angles of arows */
/* (x translate ensures no gaps during transform) */
.minToMaxButton .one {
    transform: rotate(-15deg) translateY(2px);
    /* transform-origin: bottom right;  */
}
.minToMaxButton .two {
    transform: rotate(15deg) translateY(-2px);
    /* transform-origin: top right;  */
}
.maxToMinButton .one {
    transform: rotate(0deg) translateY(2px);
    /* transform-origin: bottom right;  */
}
.maxToMinButton .two {
    transform: rotate(0deg) translateY(-2px);
    /* transform-origin: top right;  */
}
/* when close button is hovered over it rotates to a close arrow */
.buttonContainer:hover .maxToMinButton .one{
    transform: rotate(15deg) translateY(2px);
    /* transform-origin: bottom left;  */
}
.buttonContainer:hover .maxToMinButton .two{
    transform: rotate(-15deg) translateY(-2px); 
    /* transform-origin: top left;  */
}




/* transitions:  color and transformations */
.minToMaxButton .one,
.minToMaxButton .two,
.maxToMinButton .one,
.maxToMinButton .two {
    background-color: var(--verylightgrey);
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.buttonContainer:hover .minToMaxButton .one,
.buttonContainer:hover .minToMaxButton .two,
.buttonContainer:hover .maxToMinButton .one,
.buttonContainer:hover .maxToMinButton .two{
    background-color: black;
    transition: transform 0.3s ease, background-color 0.3s ease;
}





/* hide message until button hovered over */
.closeMessageContainer, .openMessageContainer{
    display: none;
}
.pseudoHoverContainer:hover .closeMessageContainer,
.pseudoHoverContainer:hover .openMessageContainer{
    /* this is the entire point of the pseudo container which matches the size of the button hover area*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
.openMessage, .closeMessage{
    z-index: 15; 
    padding: 0.5rem;
    background-color: black;
    color: white;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 0.8em;
    white-space: nowrap;
    overflow: hidden;
}
.messagePointer {
    width: 0;
    height: 0;

    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-right: 0.5rem solid black;
}
