.boardSquare {
    flex: 1 0 calc(12.5%); /* Each square takes up 1/8th of the row width*/
    position: relative; /* For positioning labels and pieces */
    aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
}

.boardSquareBrown, .boardSquareWhite {
    position: relative;
    width: 12.5%; 
    padding-top: 12.5%; /* Padding-top for square aspect ratio */
    float: left; /* For inline-block behavior */
}

.brown {
    background-color: var(--brownSquare);
}

.white {
    background-color: var(--whiteSquare);
}

.squareLabel {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: 700;
}

.squareLabelBrown {
    color: var(--brownSquare);
}

.squareLabelWhite {
    color: var(--whiteSquare);
}

.squareLabelFile {
    top: 0;
    left: 0;
}

.squareLabelRank {
    bottom: 0;
    right: 0;
}

@media (max-width: 767px) {
    .brown {
        background-color: var(--greenSquare);
    }
    .white {
        background-color: var(--whiteSquarePhone);
    }
    .squareLabelBrown {
        color: var(--greenSquare);
    }
    .squareLabelWhite {
        color: var(--whiteSquarePhone);
    }
}


.suggestedSquare {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    height: 30%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    background-color: rgba(0,0,0,0.1);
    z-index: 11;
    pointer-events: none;
}

.suggestedCapture {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    outline: var(--suggestedCaptureThickness) solid rgba(0,0,0,0.1);
    z-index: 11;
    pointer-events: none;
}

.hoveringSquare{
    outline: 10px solid rgba(255, 255, 255, 0.7);
    outline-offset: -10px;
}

.selectedSquare{
    filter: brightness(1.3); 
}
