.pageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--verylightgrey);
}
  
.contentContainer {
    position: relative;
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
}
  
.logoContainer {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: flex-end;
    border-radius: 0.5rem;
    background-color: var(--grey500);
    padding: 12px;
}
  
.logoInnerContainer {
    color: #ffffff;
}
  
@media (min-width: 768px) {
    .logoContainer {
      height: 144px;
    }
}