.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        overflow: hidden;
    }
}

/* toggle which nav is visible */
.topNavContainer{
    display: flex;
}
.sideNavContainer{
    display: none;
}
@media (min-width: 768px) {
    .sideNavContainer{
        display: flex;
    }
    .topNavContainer{
        display: none;
    }
}

.content {
    flex-grow: 1;
    padding: 1.5rem;
}

@media (min-width: 768px) {
    .content {
    overflow-y: auto;
    padding: 3rem;
    }
}