.card {
    border-radius: 0.75rem; /* rounded-xl */
    background-color: #F3F4F6; /* bg-gray-50 */
    padding: 0.5rem; /* p-2 */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */
}
  
.header {
    display: flex;
    padding: 1rem; /* p-4 */
}

.title {
    margin-left: 0.5rem; /* ml-2 */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
}

.profileImageContainer {
    overflow: hidden; /* truncate */
    border-radius: 0.75rem; /* rounded-xl */
    background-color: #ffffff; /* bg-white */
    padding: 1rem 1rem 2rem; /* px-4 py-8 */
    text-align: center; /* text-center */
    font-size: 1.25rem; /* text-2xl */
}

.description {
    display: flex;
    padding: 1rem; /* p-4 */
}

.descriptionText {
    margin-left: 0.5rem; /* ml-2 */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
}