.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0;
    color: #ffffff;
    /* gap: 8px; */
}

.logo {
    width: 100px;
    height: 100px;
}

.logoText {
    font-size: 44px;
}