/* NavLinks.module.css */
.link {
    display: flex;
    height: 48px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.375rem; /* Tailwind's rounded-md */
    background-color: #f9fafb; /* Tailwind's bg-gray-50 */
    padding: 0.75rem; /* Tailwind's p-3 */
    font-size: 0.875rem; /* Tailwind's text-sm */
    font-weight: 500; /* Tailwind's font-medium */
    text-decoration: none; /* Assuming you want to remove default link styles */
}

.link:hover {
    background-color: #e5e7eb; /* Tailwind's hover:bg-gray-200 */
    color: #1f2937; /* Tailwind's hover:text-gray-800 */
}

.linkActive {
    background-color: #e5e7eb; /* Tailwind's bg-gray-200 */
    color: #1f2937; /* Tailwind's text-gray-800 */
}

.linkIcon {
    width: 24px; /* Tailwind's w-6 */
}

.linkText {
    display: none; /* Tailwind's hidden */
}

@media (min-width: 768px) {
    .link {
    flex-grow: 0;
    justify-content: flex-start;
    padding: 0.5rem; /* Tailwind's p-2 */
    padding-left: 0.75rem; /* Tailwind's px-3 */
    }

    .linkText {
    display: block; /* Tailwind's block */
    }
}
  